@charset "UTF-8";
div.center{
	display: flex;
  justify-content: center;
  align-items: center;
}

div.inner{
	display: flex;
  justify-content: center;
  align-items: center;
}


h1.center{
	display: flex;
  justify-content: center;
  align-items: center;
}

input.select{
	height:100px;
}

p.center{
	display: flex;
  justify-content: center;
  align-items: center;
}